<div *ngIf="gameStarted" class="table flex flex-col flex-center">
  <div class="flex flex-row flex-center">
    <img style="height: 50px; width: auto;" src="/assets/img/blackjack.png" />
  </div>
  <div class="flex flex-row flex-center">
    <div class="flex flex-col flex-center hand dealer-hand">
      <div class="flex flex-row flex-center">
        <div class="flex flex-col flex-center">
          <div class="flex flex-row flex-center">
            <h2 *ngIf="!isDealerTurn">Dealer shows {{game.dealer.showing}}</h2>
            <ng-container *ngIf="isDealerTurn">
              <h2 *ngIf="game.dealer.isBlackJack">Dealer has BlackJack</h2>
              <h2 *ngIf="game.dealer.handValue > 21" class="bust">Dealer Busts!</h2>
              <h2 *ngIf="!game.dealer.isBlackJack && game.dealer.handValue <= 21">
                Dealer has {{game.dealer.handValue}}
              </h2>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="flex flex-row flex-center">
        <app-card *ngFor="let card of game.dealer.hand.cards; let i = index" [cardNumber]="card.cardNumber" [suit]="card.Suit"
          [dealerHand]="true" [isHole]="card.isHole" [first]="i === 0"></app-card>
      </div>
    </div>
  </div>
  <div *ngIf="isDealerDone" class="flex flex-row flex-center game-options">
    <input type="button" class="btn" value="Deal" (click)="startGame()" />
  </div>
  <div class="flex flex-row flex-center">
    <div *ngFor="let player of game.players; let i = index" class="flex flex-col flex-center hand player-hand">
      <div class="flex flex-row flex-center">
        <div *ngFor="let hand of player.hands; let j = index" class="flex flex-col flex-center player-hand">
          <app-hand [hand]="hand" [isPlaying]="!isDealerTurn && currentPlayerIndex === i && currentHandIndex === j"
            [numPlayerHands]="player.hands.length" (onHit)="hit()" (onSplit)="split()" (onStand)="stand()"></app-hand>
        </div>
      </div>
    </div>
  </div>
</div>