.hand {
    display: inherit;
    margin-bottom: 15px;
    color:white;
    text-transform: uppercase;
}

/* .dealer-hand {
    display: inherit;
    margin-bottom: 100px;
} */

.player-hand {
    margin: 0 15px 0 15px;
}

.bust {
    color: red;
}

.game-options {
    margin: 50px 0 50px;
}